-
    var tel = {
        text: '8 800 800 80 80',
        href: '88008008080',
    }

-
    var email = 'logistic@translightnovo.com'

-
    var links = {
        products: '',
        decisions: ''
    }