mixin section-advantages()
    section.advantages
        .advantages__wrapper.frame

            .advantages__column.advantages__column_left

                .advantages__map

                .advantages__box.advantages__monitoring.advantages__block-image
                    .advantages__monitoring-overlay.advantages__overlay
                    .advantages__card-container
                        h3.advantages__title.advantages__title_mini.
                            Мониторинг
                            транспорта
                        p.advantages__text_mini.
                            Только сертифицированные специалисты с
                            многолетним опытом и практикой в стрессовых
                            условиях.

            .advantages__column

                .advantages__box.advantages__block-texts
                    h2.advantages__title.
                        Команда
                        профессионалов
                    p.advantages__text.
                        Только сертифицированные специалисты с
                        многолетним опытом и практикой в
                        стрессовых условиях.

                .advantages__box.advantages__quality.advantages__block-image
                    .advantages__quality-overlay.advantages__overlay
                    .advantages__card-container
                        h3.advantages__title.advantages__title_mini.
                            Контроль
                            качества
                        p.advantages__text_mini.
                            Только сертифицированные специалисты с
                            многолетним опытом и практикой в стрессовых
                            условиях.

                .advantages__box.advantages__block-texts
                    h3.advantages__title.advantages__title_mini.
                        Служба поддержки
                    p.advantages__text_mini.
                        Есть вопросы?
                    p.advantages__text_mini.
                        Оставьте нам телефон и наши специалисты свяжутся
                        с вами в ближайшее время.
                    .advantages__form-wrapper
                        +form('tel')
