include ../variable/variable

include ../head/head
include ../header/header
include ../scripts/scripts

include ../form/form

include ../foot/foot
include ../footer/footer

include ../main-screen/main-screen
include ../main-screen-home/main-screen-home

include ../button/button
include ../button-close/button-close
include ../logo/logo
include ../tel/tel

include ../list/list
include ../list-two/list-two

include ../link/link
include ../link-tel/link-tel

include ../block-decisions/block-decisions
include ../block-buttons-slider/block-buttons-slider
include ../block-text/block-text
include ../block-conveyor-case/block-conveyor-case
include ../block-conveyor-main-line/block-conveyor-main-line

include ../elem-card-case/elem-card-case
include ../elem-email/elem-email

include ../slider-buttons/slider-buttons

include ../section-decisions/section-decisions
include ../section-products/section-products
include ../section-advantages/section-advantages
include ../section-cases/section-cases
include ../section-main-line/section-main-line
include ../section-pop-up/section-pop-up

include ../menu-nav/menu-nav
include ../menu-products/menu-products