mixin main-screen-home()
    .main-screen-home
        .main-screen-home__overlay
        .main-screen-home__content
            +header
            .main-screen-home__wrapper
                .main-screen-home__container.frame
                    .main-screen-home__main
                        .main-screen-home__item
                            h1.main-screen-home__title.
                                Международные перевозки
                            p.main-screen-home__text.
                                Мы разрабатываем лучшие решения
                                для перевозки груза для наших клиентов.
                        .main-screen-home__item
                            h1.main-screen-home__title.
                                Международные перевозки
                            p.main-screen-home__text.
                                Мы разрабатываем лучшие решения
                                для перевозки груза для наших клиентов.
                        .main-screen-home__item
                            h1.main-screen-home__title.
                                Международные перевозки
                            p.main-screen-home__text.
                                Мы разрабатываем лучшие решения
                                для перевозки груза для наших клиентов.
                        +button('Начать сотрудничество')
                    +slider-buttons(5)