mixin elem-card-case(type, title)
    .elem-card-case.shadow_2
        .elem-card-case__wrapper
            .elem-card-case__type-wrapper
                .elem-card-case__type!= type
            .elem-card-case__title!= title

