mixin button-close(cls)
    button.button-close(class= cls)
        span.button-close__icon-container
            span.button-close__icon.button-close__icon_normal
            span.button-close__icon.button-close__icon_hover