extends ../layout-page/layout-page

block content
    +main-screen-home
    main
        +section-decisions
        +section-products
        +section-advantages
        +sections-cases
        +section-main-line
        +section-pop-up

block footer
    +footer
