mixin header()
    header.header
        .header__left
            +logo('header__logo')
            +menu-nav
        .header__right
            button.header__callback Связаться с нами
            +tel('header__tel')
            button.header__language Eng

